<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="https://res.cloudinary.com/dhgvftizb/image/upload/v1616443228/REDM/redm-logo-v2_pv9mes.png" class="img-fluid logo" alt="">
        <a href="#" class="navbar-brand ms-3">Real Estate Deal Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/properties">Properties</a>
                <a class="nav-link" href="/properties/new">New Property</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %> 
                    <a href="/login" class="nav-link">Login</a>
                    <a href="/register" class="nav-link">Register</a>
                <% } else { %> 
                    <a href="/logout" class="nav-link">Logout</a>
                    <% } %> 
            </div>
        </div>
    </div>
</nav>