<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
</head>
<body>
    <h1>All Properties</h1>
    <div>
        <a href="/properties/new">Add A Property</a>
    </div>
    <ul>
        <% for (let property of properties) {%>
            <li><a href="/properties/<%= property._id %>"><%= property.title %></a></li>
            <% } %> 
    </ul>
</body>
</html>