<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Property</h1>
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <form action="/properties" method="POST" novalidate class="need-validated" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="property[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="property[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Image(s):</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                </div>
                <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" id="image" name="property[image]" required>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Property Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="property[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="revenue" class="form-label">Property Revenue</label>
                    <div class="input-group">
                        <span class="input-group-text" id="revenue-label">$</span>
                        <input type="text" class="form-control" id="revenue" placeholder="0.00" aria-label="revenue"
                            aria-describedby="revenue-label" name="property[revenue]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="property[description]" id="description" type="text" class="form-control" cols="30" rows="10"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 float-start">
                    <button class="btn btn-success">Add A Property</button>
                </div>
            </form>
            <div class="mb-3 float-end">
                <a href="/properties" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-arrow-90deg-up mb-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4.854 1.146a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L4 2.707V12.5A2.5 2.5 0 0 0 6.5 15h8a.5.5 0 0 0 0-1h-8A1.5 1.5 0 0 1 5 12.5V2.707l3.146 3.147a.5.5 0 1 0 .708-.708l-4-4z" />
                    </svg> All Properties</a>
            </div>

        </div>
    </div>