<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Property</title>
</head>
<body>
    <form action="/properties" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="property[title]">
        </div>
        <div>
            <label for="Location">Location</label>
            <input type="text" id="location" name="property[location]">
        </div>
        <button>Add A Property</button>
    </form>
    <a href="/properties">All Properties</a>
</body>
</html>